* {
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
    margin: 0;
    padding: 0;
}

body {
    --backgroundFront: linear-gradient(135deg, #2f1e84 0%,#5d63ed 100% );
    --bgColor: #F2F3F3;
    --colorNavItem: #2f1e84;
}

body.dark {
    --backgroundFront: linear-gradient(135deg, #2f1e84 0%,#FF5722 100% );
    --bgColor: hsl(257, 19%, 15%);
    --colorNavItem: #fff;
}

body {
    background-color: var(--bgColor);
}

#title {
    font-size: 2rem;
    font-weight: 650;
    margin: 8rem 0 2rem 0;
}

li {
    list-style: none;
    letter-spacing: 0.3px;
}

a {
    color: var(--colorNavItem);
    text-decoration: none;
}

img {
    max-width: 100%;
    height: auto;
    display: block;
}

.frontDescription {
    float: left;
    width: 60%;
    padding: 0 4%;
    letter-spacing: 0.3px;
}
  
.frontImage {
    float: left;
    width: 40%;
    padding: 0 4%;
}

header {
    padding: 0 5rem;
    width: 100%;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    min-height: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0rem 0rem 0.5rem rgba(0, 0, 0, 0.1);
    font-size: 0.9rem;
}

#nav-bar {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

#nav-bar ul {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.nav-link {
    padding: 0px 10px 0px 10px;
}

.nav-link:hover {
    color: #FF5722;
}

.btn {
    text-transform: uppercase;
    font-weight: 600;
    color: #fff;
    background-color: #5d63ed;
    padding: 1rem;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    box-shadow: 0rem 0rem 0.5rem rgba(0, 0, 0, 0.1);
    margin-top: 1rem;
}
  
.btn:hover {
    background-color: #FF5722;
    transition: background-color 1s;
}

.toggle-btn {
    color: hsl(257, 61%, 24%);;
    min-width: 40px;
    height: 40px;
    background-color: #fff;
    border-radius: 10%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.1rem;
    cursor: pointer;
    box-shadow: 0 0 10px 0px rgba(0, 0, 0, 0.05);
    transition: 0.3s;
    margin-left: 2rem;
}

.toggle-btn:hover {
    filter: brightness(95%);
}

#appImg {
    height: 490px;
    width: 240px;
}

#front {
    background: var(--backgroundFront);
    color: #fff;
    height: 450px;
    margin: 4rem 0;
    padding: 3rem;
    border-bottom-left-radius: 1rem;
    border-bottom-right-radius: 1rem;
}

#why {
    padding: 15rem 5rem 5rem 5rem;
    text-align: center;
}

.container {
    display: flex;
    flex-direction: row;
    justify-content: center;
  }
  
.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: calc(100%  / 3);
    margin: 1.5rem;
    padding: 3rem 2rem 3rem 2rem;
    border: 1px solid rgba(55, 56, 58, 0.1);
    border-radius: 10px;
    border-bottom-left-radius: 0px;
}
